#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
}
.profile {
    color:white;
    margin: 20px;
}
/* For notes on lessons*/
.note {
    background-color:rgba(0, 255, 0, 0.5);
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
    color: white;
    margin: 20px;
}
.city {
    background-color: dodgerblue;
    color: white;
    border: 2px solid green;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}
.cityTitle {
    color:tomato;
}
.bonjour {
    background: url(../images/bonjour.png) no-repeat;
    width: 640px;
    height: 627px;
    text-align: center;
}